html {
    opacity: 100;
    width: 100%;
  }

  body {
    overflow-x: hidden !important;
  }


  .loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba( #000, .2 );
    border-radius: 50%;
    border-top-color: rgba( #000, .3 );
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50%);
    top: calc(50%);
    position: fixed;
    z-index: 1;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  .btn-list-action-w-62 {
    min-width: 62px;
  }

  .frm-save-btn, .frm-cancel-btn {
    min-width: 100px;
  }

  .payment-card:hover {
    background: #0F3D64;
    color: #fff;
  }
 

